.header {
    font-family: "Roboto", sans-serif;
&__block {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
&__nav {
    position: relative;
    display: flex;
    align-items: center;
}
}
.logo {
    color: var(--color-active);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    padding: 24px 0;
    margin-right: 93px;
&__heder {
    color: var(--color-black);
}
}
.current::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--color-active);
    border-radius: 2px;
}
.site {
&__list {
    display: flex;
    gap: 50px;
    padding: 0;
}
}
.info {
&__list {
    display: flex;
    align-items: center;
    margin-left: auto;
}
&__item {
    margin-right: 30px;
    }
&__item:last-child {
    margin-right: 0;
    }
&__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-text);
}
&__icon {
    fill: currentColor;
    margin-right: 10px;
}
}