.studio {
    padding: 94px 0;

&__list {
    display: flex;
    gap: 30px;
}
&__title {
    width: 270px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

&__card {
    width: 270px;
    height: 120px;
    background-color: var(--color-background);
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

&__text {
    color: var(--color-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
}